<app-header titulo="Calendario"></app-header>

<ion-content padding>
    <ion-list>
        <ion-list-header>
            <ion-label>Datos de nacimiento</ion-label>
        </ion-list-header>

        <ion-item>
            <ion-label>
                Fecha de nacimiento
            </ion-label>

            <ion-datetime 
            display-format="DD MMMM YYYY" 
            cancelText="Cancelar!!" 
            [ngModel]="fechaNac.toISOString()"
            (ionChange)="cambioEnFecha( $event )">
            </ion-datetime>
        </ion-item>

        <ion-list-header>
            <ion-label>Restricciones</ion-label>
        </ion-list-header>

        <ion-item>
            <ion-label>Min y Max</ion-label>

            <ion-datetime placeholder="DD-MMMM-YYYY"
            display-format="DD MMMM YYYY"
            min="2012-01-01"
            max="2012-12-31">
            </ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label>Rango años</ion-label>
    
            <ion-datetime placeholder="YYYY"
            display-format="YYYY"
            min="2012"
            max="2020">
            </ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label>Custom</ion-label>
        
            <ion-datetime [pickerOptions]="customPickerOptions"
            [(ngModel)]="customDate">
            </ion-datetime>
        </ion-item>

    </ion-list>
</ion-content>