<app-header titulo="Fab icon"></app-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="bonfire"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button color="feis"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
      <ion-fab-button color="btc"><ion-icon name="logo-bitcoin"></ion-icon></ion-fab-button>
      <ion-fab-button color="slack"><ion-icon name="logo-slack"></ion-icon></ion-fab-button>
    </ion-fab-list>

    <ion-fab-list side="start">
        <ion-fab-button color="javascript"><ion-icon name="logo-javascript"></ion-icon></ion-fab-button>
        <ion-fab-button color="tesla"><ion-icon name="logo-model-s"></ion-icon></ion-fab-button>
        <ion-fab-button color="steam"><ion-icon name="logo-steam"></ion-icon></ion-fab-button>
      </ion-fab-list>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let elemento of data; let i = index">
      <ion-label>Elemento {{ i + 1 }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-toolbar>Este es el footer</ion-toolbar>
  </ion-toolbar>
</ion-footer>